

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .card-front {
    background-color: #ffffff;
}

.card .card-back {
    background-color: #f1f1f1;
    transform: rotateY(180deg);
    padding: 20px;
}

.card .card-back p {
    color: #333333;
}